.cover {
  display: flex;
  flex-direction: column;
  min-block-size: 100vh;
  padding: 0;
}

.cover > * {
  margin-block: 1rem;
}

.cover > :first-child:not(img) {
  margin-block-start: 0;
}

.cover > :last-child:not(img) {
  margin-block-end: 0;
}

.cover > img {
  margin-block: auto;
}
  