/**
 * Custom styles to immediately follow Tailwind’s `base` layer
 */

/**
 * This uses the background and foreground colors declared in the `theme.json`
 * file and is applied both to the front end and in the block editor.
 */

body {
	@apply bg-background text-foreground font-content;
	font-size: var(--text-step-0);
}

h1 {
	font-size: var(--text-step-5);
}

h2 {
	font-size: var(--text-step-4);
}

h3 {
	font-size: var(--text-step-3);
}

h4 {
	font-size: var(--text-step-2);
}

h1,
h2,
h3,
h4 {
	max-inline-size: 25ch;
	@apply font-display;
	line-height: 1.5;
}

/* Set line lengths */
p,
li,
blockquote:not([class]) {
	max-inline-size: 65ch;
}

* .text-center > p,
li,
blockquote:not([class]) {
	max-inline-size: none;
}

blockquote {
	border-inline-start: 0.5rem solid var(--color-primary);
	padding: var(--spacing-m-l);
	font-size: var(--size-step-2);
}

blockquote > * + * {
	margin-block-start: var(--spacing-m-l);
}

blockquote :last-child {
	font-family: var(--font-base);
	font-style: normal;
	font-size: var(--size-step-1);
}

svg {
	block-size: 2ex;
	inline-size: auto;
	flex: none;
}

strong {
	font-weight: bolder;
}

hr {
	border: 0;
	height: 1px;
	width: 10%;
	margin-block: var(--spacing-m-l);
	margin-inline-start: 0;
	background-color: var(--color-bg-accent-2);
}

[role="list"] {
	padding: 0;
}

/* Base interactive elements */

a {
	color: currentcolor;
	text-decoration-thickness: 0.08em;
}

a:hover {
	text-decoration: none;
}

:focus-visible {
	outline: 3px solid;
	outline-offset: 0.3ch;
}

main:focus {
	outline: none;
}

.preload-transitions * {
	transition: none !important;
}

@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	::after,
	::before {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		scroll-behavior: auto !important;
		transition-duration: 0.01ms !important;
	}
}

/* Images */

img,
picture,
svg,
canvas {
	max-inline-size: 100%;
	block-size: auto;
	object-fit: cover;
	vertical-align: middle;
	font-style: italic;
	background-repeat: no-repeat;
	background-size: cover;
	shape-margin: 0.75rem;
}

.custom-logo {
	display: block;
	block-size: auto;
}