/**
 * Custom `@font-face` rules
 *
 * These will be added immediately before Tailwind’s `base` layer.
 */

@font-face {
	font-family: content;
	font-style: normal;
	font-display: swap;
	src:
		local(""),
		url("fonts/Quicksand-VariableFont_wght.woff2") format("woff2");
}

@font-face {
	font-family: display;
	font-style: normal;
	font-display: swap;
	src:
		local(""),
		url("fonts/SuezOne-Regular.woff2") format("woff2");
}
