carousel-component {
	display: block;
	position: relative;
	overflow: hidden;
}

.carousel {
	display: grid;
	grid-template-areas:
		"item-container";
	grid-template-rows: 1fr auto;
	overflow: hidden;
	width: 100%;
	max-height: 100vh;
	position: relative;
	gap: var(--spacing-s);
}

.carousel-item-container {
	grid-area: item-container;
	display: grid;
	grid-template-areas:
		"service"
		"items";
	grid-template-rows: 1fr auto;
	opacity: 0;
	transition: opacity 0.5s ease;
}

.carousel-item-container.active {
	opacity: 1;
}

.carousel-service {
	grid-area: service;
}

.carousel-item {
	grid-area: items;
	display: grid;
	place-items: center;
}

.carousel img {
	aspect-ratio: var(--carousel-img-aspect-ratio, 16/9);
	height: var(--carousel-img-height, 100%);
	object-fit: cover;
}

.carousel-controls {
	display: flex;
	justify-content: space-between;
	align-items: center;
	grid-area: item-container;
	padding: var(--spacing-s);
	z-index: 1;
}

.carousel-prev,
.carousel-next {
	@apply bg-primary/70;
	color: var(--color-light);
	border: none;
	padding: var(--spacing-m);
	cursor: pointer;
}

.carousel-prev:focus,
.carousel-next:focus {
	outline: 2px solid var(--color-tertiary); /* Hardcoded focus outline */
}
