carousel-component {
	display: block;
	position: relative;
	overflow: hidden;
}

.carousel {
	display: grid;
	grid-template-areas: "items";
	grid-template-rows: 1fr auto;
	overflow: hidden;
	width: 100%;
	max-height: 100vh;
	position: relative;
}

.carousel-item {
	grid-area: items;
	display: grid;
	place-items: center;
	opacity: 0;
	transition: opacity 0.5s ease;
}

.carousel-item.active {
	opacity: 1;
}

.carousel img {
	object-fit: cover;
}

.carousel-controls {
	display: flex;
	justify-content: space-between;
	align-items: center;
	grid-area: items;
	padding: var(--spacing-s);
	z-index: 1;
}

.carousel-prev,
.carousel-next {
	@apply bg-primary/50;
	color: var(--color-light);
	border: none;
	padding: 0.5rem 1rem; /* Hardcoded padding */
	cursor: pointer;
}

.carousel-prev:focus,
.carousel-next:focus {
	outline: 2px solid var(--color-tertiary); /* Hardcoded focus outline */
}
